body{
    line-height: 1.5;
    color: white;
    font-size: 1.5rem;
    text-align: center;
    margin-left: 100px;
    margin-right: 100px;
    background-color: rgb(54, 54, 151);
}

img{
    border-radius: 20px;
}